flows.json
[
    {
        "id": "40c284f4e22a5a37",
        "type": "tab",
        "label": "Flow 5",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "1070bdf212258842",
        "type": "http request",
        "z": "40c284f4e22a5a37",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "https://api.openweathermap.org/data/2.5/onecall?lat=19.250851&lon=-99.119540&exclude=hourly,daily&appid=4575e0df275d24df6c2c6f0fed8c5d18&units=metric",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "senderr": false,
        "x": 270,
        "y": 120,
        "wires": [
            [
                "7105cdd14b4dacf2",
                "08ff4c74f6894416"
            ]
        ]
    },
    {
        "id": "7105cdd14b4dacf2",
        "type": "debug",
        "z": "40c284f4e22a5a37",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 390,
        "y": 60,
        "wires": []
    },
    {
        "id": "08ff4c74f6894416",
        "type": "json",
        "z": "40c284f4e22a5a37",
        "name": "",
        "property": "payload",
        "action": "obj",
        "pretty": false,
        "x": 430,
        "y": 120,
        "wires": [
            [
                "df01c1ea07db2429",
                "5a69bc058b350d51",
                "d9e9ba56c76166b1",
                "1a1558ed1efcca74"
            ]
        ]
    },
    {
        "id": "df01c1ea07db2429",
        "type": "debug",
        "z": "40c284f4e22a5a37",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 570,
        "y": 60,
        "wires": []
    },
    {
        "id": "5e894408863a3ec6",
        "type": "inject",
        "z": "40c284f4e22a5a37",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "120",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 110,
        "y": 120,
        "wires": [
            [
                "1070bdf212258842",
                "fdc6389a05e0ec8c"
            ]
        ]
    },
    {
        "id": "dff676856ff7710c",
        "type": "ui_gauge",
        "z": "40c284f4e22a5a37",
        "name": "",
        "group": "a0486531b6b27a25",
        "order": 1,
        "width": 4,
        "height": 3,
        "gtype": "gage",
        "title": "Temperatura",
        "label": "°C",
        "format": "{{value}}",
        "min": 0,
        "max": "55",
        "colors": [
            "#729fcf",
            "#fcaf3e",
            "#ca3838"
        ],
        "seg1": "14",
        "seg2": "26",
        "className": "",
        "x": 870,
        "y": 120,
        "wires": []
    },
    {
        "id": "5a69bc058b350d51",
        "type": "function",
        "z": "40c284f4e22a5a37",
        "name": "Temperatura",
        "func": "msg.payload = msg.payload.current.temp;\nglobal.set (\"tempFlow5\", msg.payload);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 650,
        "y": 120,
        "wires": [
            [
                "dff676856ff7710c"
            ]
        ]
    },
    {
        "id": "d9e9ba56c76166b1",
        "type": "function",
        "z": "40c284f4e22a5a37",
        "name": "Humedad",
        "func": "msg.payload = msg.payload.current.humidity;\nglobal.set (\"humFlow5\", msg.payload);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 640,
        "y": 160,
        "wires": [
            [
                "a42c2ff31baf334a"
            ]
        ]
    },
    {
        "id": "a42c2ff31baf334a",
        "type": "ui_gauge",
        "z": "40c284f4e22a5a37",
        "name": "",
        "group": "a0486531b6b27a25",
        "order": 4,
        "width": 4,
        "height": 3,
        "gtype": "gage",
        "title": "Humedad",
        "label": "%",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#888a85",
            "#729fcf",
            "#0094ce"
        ],
        "seg1": "25",
        "seg2": "60",
        "className": "",
        "x": 860,
        "y": 160,
        "wires": []
    },
    {
        "id": "9e6a2418068b1aa1",
        "type": "comment",
        "z": "40c284f4e22a5a37",
        "name": "Solicitud API",
        "info": "",
        "x": 110,
        "y": 60,
        "wires": []
    },
    {
        "id": "5ee08e60db7614b1",
        "type": "mqtt in",
        "z": "40c284f4e22a5a37",
        "name": "",
        "topic": "codigoIoT/g7/mosquitto/flow5",
        "qos": "2",
        "datatype": "auto",
        "broker": "4e2a9797aa584475",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 140,
        "y": 320,
        "wires": [
            [
                "fbe01d286c01ac1e"
            ]
        ]
    },
    {
        "id": "fbe01d286c01ac1e",
        "type": "json",
        "z": "40c284f4e22a5a37",
        "name": "",
        "property": "payload",
        "action": "obj",
        "pretty": false,
        "x": 350,
        "y": 320,
        "wires": [
            [
                "0dd4d0edde4d2ddb",
                "cfe42a5770738547",
                "e3c68e36bb8a12f2",
                "85012170da4f8ffb"
            ]
        ]
    },
    {
        "id": "0dd4d0edde4d2ddb",
        "type": "function",
        "z": "40c284f4e22a5a37",
        "name": "Temperatura",
        "func": "msg.topic = msg.payload.id;\nmsg.payload = msg.payload.temp;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 650,
        "y": 320,
        "wires": [
            [
                "572f60cfcba12ece"
            ]
        ]
    },
    {
        "id": "cfe42a5770738547",
        "type": "function",
        "z": "40c284f4e22a5a37",
        "name": "Humedad",
        "func": "msg.topic = msg.payload.id;\nmsg.payload = msg.payload.hum;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 640,
        "y": 380,
        "wires": [
            [
                "c10e48d5687d6804"
            ]
        ]
    },
    {
        "id": "572f60cfcba12ece",
        "type": "ui_chart",
        "z": "40c284f4e22a5a37",
        "name": "",
        "group": "9ef55d0a73fe0485",
        "order": 1,
        "width": 10,
        "height": 6,
        "label": "Temperatura",
        "chartType": "line",
        "legend": "true",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 870,
        "y": 320,
        "wires": [
            []
        ]
    },
    {
        "id": "c10e48d5687d6804",
        "type": "ui_chart",
        "z": "40c284f4e22a5a37",
        "name": "",
        "group": "9ef55d0a73fe0485",
        "order": 4,
        "width": 9,
        "height": 6,
        "label": "Humedad",
        "chartType": "line",
        "legend": "true",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "100",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 860,
        "y": 380,
        "wires": [
            []
        ]
    },
    {
        "id": "a9c57d9b3cbc1502",
        "type": "inject",
        "z": "40c284f4e22a5a37",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "15",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 110,
        "y": 580,
        "wires": [
            [
                "83717d16a26f7d87"
            ]
        ]
    },
    {
        "id": "83717d16a26f7d87",
        "type": "function",
        "z": "40c284f4e22a5a37",
        "name": "",
        "func": "msg.payload = '{\"id\":\"Alex\",\"temp\":'+global.get (\"tempFlow5\")+',\"hum\":'+global.get (\"humFlow5\")+',\"uv\":'+global.get (\"uviFlow5\")+\n',\"aqi\":'+global.get (\"AQIFlow5\")+'}';\nreturn msg;\n\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 300,
        "y": 580,
        "wires": [
            [
                "120ce88470b7cc8c",
                "38c5c5504854b80d"
            ]
        ]
    },
    {
        "id": "120ce88470b7cc8c",
        "type": "mqtt out",
        "z": "40c284f4e22a5a37",
        "name": "",
        "topic": "codigoIoT/g7/mosquitto/flow5",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "4e2a9797aa584475",
        "x": 540,
        "y": 580,
        "wires": []
    },
    {
        "id": "38c5c5504854b80d",
        "type": "debug",
        "z": "40c284f4e22a5a37",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 490,
        "y": 640,
        "wires": []
    },
    {
        "id": "7a8b7b00b416a309",
        "type": "comment",
        "z": "40c284f4e22a5a37",
        "name": "Info General",
        "info": "",
        "x": 90,
        "y": 280,
        "wires": []
    },
    {
        "id": "7e3129bc28abf207",
        "type": "comment",
        "z": "40c284f4e22a5a37",
        "name": "Enviar",
        "info": "",
        "x": 90,
        "y": 520,
        "wires": []
    },
    {
        "id": "1a1558ed1efcca74",
        "type": "function",
        "z": "40c284f4e22a5a37",
        "name": "UVI",
        "func": "msg.payload = msg.payload.current.uvi;\nglobal.set (\"uviFlow5\", msg.payload);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 630,
        "y": 200,
        "wires": [
            [
                "b1631f4a6f0a9381"
            ]
        ]
    },
    {
        "id": "b1631f4a6f0a9381",
        "type": "ui_gauge",
        "z": "40c284f4e22a5a37",
        "name": "",
        "group": "a0486531b6b27a25",
        "order": 3,
        "width": 4,
        "height": 3,
        "gtype": "gage",
        "title": "Indice UV",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "15",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "2",
        "seg2": "7",
        "className": "",
        "x": 860,
        "y": 200,
        "wires": []
    },
    {
        "id": "fdc6389a05e0ec8c",
        "type": "http request",
        "z": "40c284f4e22a5a37",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "http://api.openweathermap.org/data/2.5/air_pollution?lat=19.250851&lon=-99.119540&appid=4575e0df275d24df6c2c6f0fed8c5d18&units=metric",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "senderr": false,
        "x": 270,
        "y": 240,
        "wires": [
            [
                "1c9043c972016ce7"
            ]
        ]
    },
    {
        "id": "1561b5c6d602d228",
        "type": "function",
        "z": "40c284f4e22a5a37",
        "name": "Calidad del aire",
        "func": "msg.payload = msg.payload.list[0].main.aqi\nglobal.set (\"AQIFlow5\" , msg.payload);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 660,
        "y": 240,
        "wires": [
            [
                "8a67877e53493974"
            ]
        ]
    },
    {
        "id": "1c9043c972016ce7",
        "type": "json",
        "z": "40c284f4e22a5a37",
        "name": "",
        "property": "payload",
        "action": "obj",
        "pretty": false,
        "x": 430,
        "y": 240,
        "wires": [
            [
                "1561b5c6d602d228",
                "639cfe048dcd7dd2"
            ]
        ]
    },
    {
        "id": "639cfe048dcd7dd2",
        "type": "debug",
        "z": "40c284f4e22a5a37",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 550,
        "y": 280,
        "wires": []
    },
    {
        "id": "8a67877e53493974",
        "type": "ui_gauge",
        "z": "40c284f4e22a5a37",
        "name": "",
        "group": "a0486531b6b27a25",
        "order": 2,
        "width": 4,
        "height": 3,
        "gtype": "gage",
        "title": "Calidad del aire",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "5",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "2",
        "seg2": "4",
        "className": "",
        "x": 880,
        "y": 240,
        "wires": []
    },
    {
        "id": "e3c68e36bb8a12f2",
        "type": "function",
        "z": "40c284f4e22a5a37",
        "name": "UVI",
        "func": "msg.topic = msg.payload.id;\nmsg.payload = msg.payload.uv;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 630,
        "y": 440,
        "wires": [
            [
                "a8605fcf6db3b23a"
            ]
        ]
    },
    {
        "id": "85012170da4f8ffb",
        "type": "function",
        "z": "40c284f4e22a5a37",
        "name": "Calidad Aire",
        "func": "msg.topic = msg.payload.id;\nmsg.payload = msg.payload.aqi;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 650,
        "y": 500,
        "wires": [
            [
                "13d7ed8a55a13c41"
            ]
        ]
    },
    {
        "id": "a8605fcf6db3b23a",
        "type": "ui_chart",
        "z": "40c284f4e22a5a37",
        "name": "",
        "group": "9ef55d0a73fe0485",
        "order": 3,
        "width": 10,
        "height": 6,
        "label": "Indice UV",
        "chartType": "line",
        "legend": "true",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "16",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "604800",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 860,
        "y": 440,
        "wires": [
            []
        ]
    },
    {
        "id": "13d7ed8a55a13c41",
        "type": "ui_chart",
        "z": "40c284f4e22a5a37",
        "name": "",
        "group": "9ef55d0a73fe0485",
        "order": 2,
        "width": 9,
        "height": 6,
        "label": "Calidad del aire",
        "chartType": "line",
        "legend": "true",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "6",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 880,
        "y": 500,
        "wires": [
            []
        ]
    },
    {
        "id": "a0486531b6b27a25",
        "type": "ui_group",
        "name": "Información Personal",
        "tab": "1cd07f3700d07103",
        "order": 1,
        "disp": true,
        "width": 4,
        "collapse": false,
        "className": ""
    },
    {
        "id": "4e2a9797aa584475",
        "type": "mqtt-broker",
        "name": "Hive MQTT G7",
        "broker": "18.157.172.72",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "9ef55d0a73fe0485",
        "type": "ui_group",
        "name": "Información General",
        "tab": "1cd07f3700d07103",
        "order": 2,
        "disp": true,
        "width": 19,
        "collapse": false,
        "className": ""
    },
    {
        "id": "1cd07f3700d07103",
        "type": "ui_tab",
        "name": "Flow 5",
        "icon": "dashboard",
        "order": 4,
        "disabled": false,
        "hidden": false
    }
]